BOT_TOKEN=
GEMINI_API_KEY=
CHANNELS=ayeshacryptozonee,ADTCommunity,ALEXVERIFIEDUPDATES,SinbadNetwork,campusxchange,Vindicatedspace,AlphaMemeSyndicate,DailyAirdropPro,CRYPTO_insidderr,Alex_Royce_BTC,AirdropsHausa,Loot4CryptoX,cryptofreemoney990,miningcombo1,h2becrypto,Daily_AirdropPro,smart_airdrop2,sihaadsic,officialairdrophunters,Biyora_Digital_Hub,AirdropGoldChannel,OptimAI_Announcements,pay_pay_out,drrdrops,Verified_A_Partner,AirdropDetective
ADMIN_CHAT_ID=
CHECK_INTERVAL=300
REQUEST_DELAY=2
FIRST_RUN_SILENT=true
ALERT_MODE=all
MIN_PRIORITY_SCORE=50
GEMINI_MODEL=gemini-2.5-flash
DB_PATH=gia_alert.db
LOG_LEVEL=INFO
