BOT_TOKEN=
GEMINI_API_KEY=
CHANNELS=ayeshacryptozonee,ADTCommunity,ALEXVERIFIEDUPDATES,SinbadNetwork,campusxchange,Vindicatedspace,AlphaMemeSyndicate,DailyAirdropPro,CRYPTO_insidderr,Alex_Royce_BTC,AirdropsHausa,Loot4CryptoX,cryptofreemoney990,miningcombo1,h2becrypto,Daily_AirdropPro,smart_airdrop2,sihaadsic,officialairdrophunters,Biyora_Digital_Hub,AirdropGoldChannel,OptimAI_Announcements,pay_pay_out,drrdrops,Verified_A_Partner,AirdropDetective
ADMIN_CHAT_ID=
OFFICIAL_CHANNELS=

CHECK_INTERVAL=300
REQUEST_DELAY=2
LATEST_POSTS_PER_CHANNEL=8
FIRST_RUN_SILENT=true
ALERT_MODE=priority
MIN_PRIORITY_SCORE=55
GAR_THRESHOLD=85
BILINGUAL_ALERTS=true
DAILY_REPORT_HOUR_UTC=20
WEEKLY_REPORT_DAY=6
GEMINI_MODEL=gemini-2.5-flash
DB_PATH=gia_alert_v3.db
LOG_LEVEL=INFO
